{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="cards-grid">
{% for profile in profiles %}

<div class="user-card">
    <a href="{% url 'profile_detail' profile.slug %}" class="user-card-link">
        <div class="user-card__avatar" >
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}">
            {% else %}
                <img src="{% static 'assets/images/123.jpg' %}">
            {% endif %}

        </div>

        <div class="user-card-content-container">
            <h2 class="user-card__name">{{ profile.name }}</h2>

            <div class="user-card__skills">
                <div class="skills-marquee">
                    <div class="skills-track {% if profile.skills.count > 1 %}is-animated{% endif %}">
                        {% for skill in profile.skills.all %}
                            <span class="skill-chip">{{ skill.name }}</span>
                        {% endfor %}
                        {% if profile.skills.count > 1 %}
                            {% for skill in profile.skills.all %}
                                <span class="skill-chip">{{ skill.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </a>

    <form class="like-form" data-profile-id="{{ profile.id }}">
        {% csrf_token %}
        <button type="s" class="like-btn">
            <img
                src="{% if profile.id in liked_profile_ids %}
                    {% static 'assets/icons/HeartOn.svg' %}
                {% else %}
                    {% static 'assets/icons/HeartOff.svg' %}
                {% endif %}"
                class="like-icon"
            >
        </button>
    </form>



</div>

{% endfor %}




{% endblock %}
