{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="user-card">
        <div class="avatar-small">
            <img src="{% static 'assets/images/123.jpg' %}" alt="Аватарка" class="avatar">
        </div>
        <div class="user-info">
            <h2>Саша</h2>
            <p>Играю в футбол</p>
            <p>Решаю математику</p>
        </div>
    </div>

    <div class="nav-pill">
        <img src="{% static 'assets/icons/HomeOn.svg' %}" alt="Home">
        <img src="{% static 'assets/icons/HeartOff.svg' %}" alt="Likes">
        <img src="{% static 'assets/icons/MagicOff.svg' %}" alt="Magic">
        <img src="{% static 'assets/icons/ProfileOff.svg' %}" alt="Profile">
    </div>
</div>
{% endblock %}