{% extends "base-no-search.html" %}
{% load static %}

{% block content %}

<div class="app-header">
    <h2 class="focus-phrase">Лайкнутые</h2>
</div>

<div class="main-content">

    {% if profiles %}
    <div class="cards-grid">
        {% for profile in profiles %}
        <div class="user-card">

            <a href="{% url 'profile_detail' profile.slug %}" class="user-card-link">
                <div class="user-card__avatar">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}">
                    {% else %}
                        <img src="{% static 'assets/images/123.jpg' %}">
                    {% endif %}
                </div>

                <div class="user-card-content-container">
                    <h2 class="user-card__name">{{ profile.name }}</h2>

                    <div class="user-card__skills">
                        {% for skill in profile.skills.all|slice:":3" %}
                            <span class="skill-chip">{{ skill.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>

            <!-- убрать лайк -->
            <form method="post" action="{% url 'like_profile' profile.id %}">
                {% csrf_token %}
                <button class="like-btn active">
                    <img src="{% static 'assets/icons/HeartOn.svg' %}">
                </button>
            </form>

        </div>
        {% endfor %}
    </div>

    {% else %}
        <p class="empty-likes" style="font-weight: 600; color: var(--gray-text); font-size: 18px;">Ты пока никого не лайкнул(</p>

        <div class= 'btn-next-container' style="bottom: auto; margin-top: 30px; left: 50%; transform: translateX(-50%); text-align: center; max-width: 100%; width: 400px;">
            <a href = '/' class = 'btn-next' style="display: inline-block; margin-top: 20px; text-decoration: none;">
                <span class="btn-next-text">Перейти на главную</span>
            </a>
        </div>
            

    {% endif %}

</div>

{% endblock %}
