{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="likes-container">

    {% if liked_profiles %}
    {% for profile in liked_profiles %}
    <div class="user-card liked">
        <div class="user-card__avatar">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="">
            {% else %}
            <img src="{% static 'assets/images/123.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="user-card__content">
            <h2 class="user-card__name">{{ profile.name }}</h2>
            <div class="user-card__skills">
                {% for skill in profile.skills.all %}
                <span class="skill-chip">{{ skill.name }}</span>
                {% endfor %}
            </div>
        </div>

        <button class="like-btn liked">
            <img src="{% static 'assets/icons/HeartOn.svg' %}" alt="Liked">
        </button>
    </div>
    {% endfor %}
    {% else %}
    <div class="empty-likes">
        <p>Пока нет понравившихся людей(((</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Найти подходящих</a>
    </div>
    {% endif %}

</div>
{% endblock %}
