{% extends "base-no-search.html" %}
{% load static %}

{% block content %}

<div class="app-header">
    <h2 class="focus-phrase">
        Смотри кто у нас есть!
    </h2>
</div>

<div class="magic-container">

    {% if profile %}
        <div class="magic-card">
            {% if profile.photo %}
        <img src="{{ profile.photo.url }}" class="profile-avatar" style='margin-bottom: 20px;'>
    {% else %}
        <img src="{% static 'assets/images/123.jpg' %}" class="profile-avatar" style='margin-bottom: 20px;'>
    {% endif %}

            <h3 style="margin-bottom: 10px; font-size: 18px;">{{ profile.name }}</h3>
            <p>Навыки:</p>
            <div class="magic-skills">
                {% for skill in profile.skills.all %}
                    <span class="magic-skill">{{ skill.name }}</span>
                {% endfor %}
            </div>

            <!-- Кнопка открытия профиля -->
            <a href="{% url 'profile_detail' profile.slug %}" class="magic-button">Открыть профиль</a>

            <div class="magic-actions" style="margin-top: 10px">
                <!-- Кнопка лайка -->
                <form method="post" action="{% url 'like' profile.id %}" style="display:inline; height : 70px; ">
                    {% csrf_token %}
                    <button type="submit" class="magic-button like-button" style="background-color: white; border-radius: 50px;  ">
                        <img src="{% static 'assets/icons/HeartOff.svg' %}" alt="Like" style="width : 50px; height : 50px; vertical-align:middle;">
                    </button> 
                </form>

                <!-- Кнопка "Просмотрено" -->
                <form method="post" action="{% url 'mark_viewed' profile.id %}" style="display:inline; height : 70px">
                    {% csrf_token %}
                    <button type="submit" class="magic-button viewed-button" style="background-color: white; border-radius: 50px; ">
                        <img src="{% static 'assets/icons/ArrowRight.svg' %}" alt="Like" style="width : 50px; height : 50px; vertical-align:middle;">
                    </button>
                </form>

            </div>
        </div>
    {% else %}
        <p style="font-weight: 600; 
        color: var(--gray-text); 
        font-size: 18px; 
        text-align: center;

        ">
        
        Не найдено пользователей для тебя(
    </p>
    {% endif %}

</div>

<script>
document.querySelectorAll(".viewed-button").forEach(btn => {
    btn.addEventListener("click", e => {
        e.preventDefault();

        const card = btn.closest(".magic-card");
        card.style.animation = "cardOut 0.3s ease forwards";

        setTimeout(() => {
            btn.closest("form").submit();
        }, 280);
    });
});
</script>



{% endblock %}

