<!DOCTYPE html>
{% extends "base-no-nav.html" %}
{% load static %}

{% block content %}

<div class = 'app-header'>

    <h2 class = 'focus-phrase'>{% if profile.name %}{{ profile.name }}{% else %}Профиль{% endif %}</h2>

</div>


<div class="profile-detail-container">
 <!-- АВАТАР -->
    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" class="profile-avatar">
    {% else %}
        <img src="{% static 'img/default-avatar.png' %}" class="profile-avatar">
    {% endif %}

    <!-- ИМЯ -->
    <h2>{{ profile.name }}</h2>

    <!-- ОПИСАНИЕ -->
    <p class="profile-description">
        {{ profile.description }}
    </p>

    <!-- НАВЫКИ -->
    <div class="skills-block">
        <h3>Навыки:</h3>

        {% for skill in profile.skills.all %}
            <span class="skill-chip">{{ skill.name }}</span>
        {% empty %}
            <p>Навыки не указаны</p>
        {% endfor %}
    </div>

    <!-- TELEGRAM -->
    <div class="telegram-block">
        <a href="https://t.me/{{ profile.telegram }}"
           target="_blank"
           class="telegram-button">
            Написать в Telegram ({{ profile.telegram }})
        </a>
    </div>

    <!-- КНОПКА ВОЗВРАТА -->
    <div class="back-button">
        <a href="/" class="btn-back">
            ← Вернуться на главную
        </a>
    </div>

</div>

{% endblock %}



